.fa-star-half-stroke,
.fa-solid,
.fa-star {
  color: orange;
  letter-spacing: 2px;
}
.body {
  height: 100vh;
}
.container {
  width: 1140px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin-top: 50px;
}
#product-select {
  margin-bottom: 15px;
}
.form-group {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  border-top: 1px solid #dee2e6;
  padding: 10px;
}
.flex {
  display: flex;
}
.number-rating {
  padding-left: 10px;
}
#btn-save {
  appearance: none;
  outline: none;
  border: none;
  background-color: brown;
  color: #fff;
}
